*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.img-fetch{
    width: 50%;
    height: 60vh;
     margin-left: 400px;
    border: 1px solid black;
}
.btn{
    margin-top: 70px;
    margin-left: 700px;
    width: 7%;
    height: 4vh;
    background-color: orange;
    border-radius: 7%;
    border: 1px solid white;
    cursor: pointer;
}